.encabezado{
    display: flex;
    height: 140px;
    border-bottom: solid 2px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    background: #9e9e9e; 
}
.contenedor-logo-header{
    width: 15%;
    height: 140px;
}
.navegar-busqueda{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 140px;
}
.iniciar-registrar{
    width: 25%;
    height: 140px;
}
.logo{
    width: 100px;
    height: 140px;
}
li{
    list-style: none; 
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    background-color:#FB9341
}
#list-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.barra-busqueda{
    display: flex;
    margin-top: 70px;
}
#btn-buscar{
    width: 15%;
    height: 100%;
    padding: 0px;
    box-sizing: content-box;
    border-right: 0px;
    background: white;
    border-radius: 20px 0 0 20px;
    background: linear-gradient(180deg, #FB9341, transparent);
}
#input-buscar{
    padding: 0;
    width: 85%;
    height: 100%;
    box-sizing: content-box;
    border-left: 0px;
    border-width: 2px;
    border-style: outset;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(180deg, #FB9341, transparent);
}
#list-sesion{
    margin-top: 90px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    
}
.barra-nav div li{
    display: inline-flex;
}
.icon-carrito{
    width: 20px;
    height: 20px;
}
/* Estilo de todos los botones
 */
 .estilo-botones{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(180deg, #FB9341, transparent);
}
/* |--------------Estilos del modal login---------------------|
 */
 .contenedor-login{
    width: 600px;
    height: 360px;
    background: white;
    border: 1px solid black;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 14px;
    font-weight: bolder;/* Ojo posicionamiento */
    position: fixed;
    margin: 8% auto;
    left: 0;
    right: 0;
    z-index: 0;
    display: none;
 }
 .encabezado-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    ;

 }
.contenedor-logo-modal{
    width: 100px;
    height: 140px;
}
.logo{
    width: 100px;
    height: 140px;
}
#encabezado-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#txt-login{
    width: 100%;
    height: 20px;
}
#txt-login p{
    margin-bottom: 0;
    margin-top: 0;
    width: 210px;
    margin-left: 60%;
    font-size: 10px;
}
#border-double{
    width: 90%;
    height: 4px;
    margin-bottom: 20px;
    border-top: 2px solid #FB9341;
    border-bottom: 2px solid #FB9341;
}
#list-nav{
    display: flex;
}
#list-nav div{
    display: flex;
}

.entrada{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
}
#div-lbl-login{
    display: flex;
    flex-direction: column;
    align-items: flex-end   
}
#div-input-login{
    display: flex;
    flex-direction: column;   
}
.input-login{
    margin-bottom: 10px;
    width: 260px;
    height: 20px;
    background: linear-gradient(0deg, #9e9e9e, transparent);
    border-radius: 3px;
}
.lbl-login{
    height: 26px;
    margin-bottom: 10px;
}
#div-botones-login{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

#div-olvido-contraseña{
    text-align: center;
    margin-top: 20px;
}
.contenedor-login.mostrar {
    transition-delay: 1s;
    display: initial;
    z-index: 0;  
}

/* ------------------Estilos pag venta--------------------------- */
.contenedor-venta{
    width: 100%;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    background: white;
}
#encabezado-venta{
    text-align: center;
    margin: 3% 0 3% 0;
}
#encabezado-venta h2{
    margin: 0;
    color: #FB9341;
}
#div-lbl-venta{
    display: flex;
    flex-direction: column;
    align-items: flex-end   
}
.entrada-venta{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10px;
}
#div-input-venta{
    display: flex;
    flex-direction: column;   
}
.input-venta{
    margin-bottom: 10px;
    width: 260px;
    height: 20px;
    background: linear-gradient(0deg, #9e9e9e, transparent);
    border-radius: 3px;
}
.lbl-venta{
    height: 26px;
    margin-bottom: 10px;
}
#div-botones-venta{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}
#descripcion-art{
    height: 100px;
}
.iniciar-registrar div{
text-align: center;
}
.iniciar-registrar div p{
    color: #FB9341;
}