<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remate Connect</title>
    <link rel="stylesheet" href="./estilos/styles.css">
    <link rel="shortcut icon" href="./imagenes/favicon.png">
</head>
<body>
<!--C贸digo del encabezado donde se encuentra el logo la barra de nav 
    y la los link de iniciar sesi贸n y crear usuario
 -->       
    <header class="encabezado">
        <section class=".contenedor-logo-header" >
            <img  class="logo" src="./imagenes/logo.png" alt="">
        </section>

        <section class="navegar-busqueda">
            <div class="barra-busqueda">  
                <button id="btn-buscar">Search</button>
                <input id="input-buscar" type="text" name="buscar-prod" id="buscar"> 
            </div>
            <nav class="barra-nav"> 
                <ul id="list-nav">
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Comprar">Comprar</a></li>
                    <div>
                        <li><a href="/misCompras">Mis compras</a></li>
                        <img src="./imagenes/carrito-de-compras.png" alt="icon carrito" class="icon-carrito">
                    </div>
                </ul>  
            </nav>
        </section>

        <section class="iniciar-registrar" >
            <div>
                <p></p>
                <form class="frm-login" action="/CerrarSeccion"  method="post"> 
                    <div> 
                       <button id="btn-salir-log" class="estilo-botones" type="submit">Salir</button>
                    </div>
                </form>
            </div>
        </section>
    </header>
    


<!-- C贸digo de formulario de venta y imagen del producto seleccionado
 -->
    <div class="contenedor-pag">

        <div id="left"> </div>
        <section class="contenedor-compra">
            <div id="encabezado-compra">
                <h2>Compra de art铆culo</h2>        
            </div>
            <form class="frm-compra" action="">
                <div class="entrada-compra">
                    <div id="div-lbl-compra">
                        <label class="lbl-com-ven" for="id-art-comprar">Id articulo:</label>
                        <label class="lbl-com-ven" for="nombre-art-comprar">Nombre:</label>
                        <label class="lbl-com-ven" for="categoria-art-comprar">Categor铆a:</label>
                        <label class="lbl-com-ven" for="marca-art-comprar">Marca:</label>
                        <label class="lbl-com-ven" for="valor-base-art-comprar">Valor base:</label>
                        <label class="lbl-com-ven" for="valor-mayor-art-comprar">Mayor valor ofertado:</label>
                        <label class="lbl-com-ven" for="vigencia-art-comprar">Vigencia del remate:</label>
                        <label class="lbl-com-ven" for="oferta-art-comprar">Ofertar valor:</label>

                    </div>

    <!-- Son label, solo se mostrara informaci贸n no reciben datos de entrada 
    de los usuarios
    -->            <div id="div-input-compra">
                        <input class="input-com-ven" type="text" id="id-art-comprar">
                        <label class="input-com-ven" id="nombre-art-comprar"></label>
                        <label class="input-com-ven" id="categoria-art-comprar"></label>  
                        <label class="input-com-ven" id="marca-art-comprar"></label>
                        <label class="input-com-ven" id="valor-base-art-comprar"></label>
                        <label class="input-com-ven" id="valor-mayor-art-comprar"></label>
                        <label class="input-com-ven" id="vigencia-art-comprar"></label>
                        <input class="input-com-ven" type="text" name="" id="oferta-art-comprar">
                    </div>
                </div>
                <div id="div-botones-compra">
                    <button id="btn-confirmar-com" class="estilo-botones" type="button" >Confirmar</button>
                    <button id="btn-cancelar-com" class="estilo-botones" type="button">Cancelar</button>
                </div>
            </form>
        </section>
        <div id="prod-compra">
            <div id="cont-prod-com" class="tarjeta-compra">
                <figure>
                    <img src="./imagenes/Teatro.PNG">
                </figure>
                <div class="contenido-tarjeta">
                    <h3>Teatro en casa</h3>
                    <p>Caracter铆sticas y especificaciones del producto</p>
                </div> 
            </div>
        </div>
    </div>

    
</body>
</html>
