<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos/styles.css">
    <link rel="shortcut icon" href="./imagenes/favicon.png">
    <title>Remate Connect</title>
</head>
<body>
    <header class="encabezado">
        <section class=".contenedor-logo-header" >
            <img  class="logo" src="./imagenes/logo.png" alt="">
        </section>

        <section class="navegar-busqueda">
            <div class="barra-busqueda">  
                <button id="btn-buscar">Search</button>
                <input id="input-buscar" type="text" name="buscar-prod" id="buscar"> 
            </div>
            <nav class="barra-nav"> 
                <ul id="list-nav">
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Comprar">Comprar</a></li>
                    <div>
                        <li><a href="/misCompras">Mis compras</a></li>
                        <img src="./imagenes/carrito-de-compras.png" alt="icon carrito" class="icon-carrito">
                    </div>
                </ul>  
            </nav>
        </section>

        <section class="iniciar-registrar" >
            <div>
                <p></p>
                <form class="frm-login" action="/CerrarSeccion"  method="post"> 
                    <div> 
                       <button id="btn-salir-log" class="estilo-botones" type="submit">Salir</button>
                    </div>
                </form>
            </div>
        </section>
  

    </header>
    
  
<!-- Producto que se mostrarán en la interfaz-->
    <section class="contenedor-pag">
        <div id="left"> 

        </div>

        <div id="cont-pago">
            <div id="encabezado-mis-comp">
                <h2>Realizar pago</h2>
            </div >

            <div id="id-comp-fecha">
                <label id="lbl-id-compra" class="lbl-com-ven">Id compra:</label>
                <label id="mostrar-id-compra" class="input-com-ven"></label>
                <label id="lbl-fecha-compra" class="lbl-com-ven">Fecha compra:</label>
                <label id="mostrar-fecha-compra" class="input-com-ven"></label>            

            </div>

            <div id="titulo-detalle">
                <h2>Detalle de la compra</h2>
            </div>
            <div id="tabla-detalle">
                <table id="tab-detalle">
                    <thead>
                        <tr>
                            <th>Id articulo</th>
                            <th>Cantidad</th>
                            <th>Valor Unitario</th>
                            <th>Sub Total</th>
                        </tr>
    
                    </thead>
                    <tr class="filas-tab">
                        <td>00001</td>
                        <td>2</td>
                        <td>1000</td>
                        <td>2000</td>
                    </tr>
                    <tr class="filas-tab">
                        <td>00002</td>
                        <td>3</td>
                        <td>2000</td>
                        <td>6000</td>

                    </tr>
                    <tr class="filas-tab">
                        <td id="celda-total" colspan="3">Total</td>
                        <td>8000</td>
                    </tr>
                </table>  
            </div>


            <div id="botones-mis-comp">
                <button id="btn-realizar-pago" class="estilo-botones" type="button" >Realizar pago</button>
                <button id="btn-no-pago" class="estilo-botones" type="button">Cancelar</button>
            </div>


        </div>
    </section> 
    <script src="./archivos js/remate.js"></script> 
</body>
</html>